# Packages
/packages/chain-mon             @ethereum-optimism/devxpod
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-exporter    @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/infra-reviewers
/.github         @ethereum-optimism/infra-reviewers
/ops             @ethereum-optimism/infra-reviewers
/docker-bake.hcl @ethereum-optimism/infra-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

# Main components
/README.md               @ethereum-optimism/repo-owners
/src/index.js            @ethereum-optimism/repo-owners
/src/components/Header.js @ethereum-optimism/repo-owners
/src/components/Footer.js @ethereum-optimism/repo-owners
/src/components/Main.js  @ethereum-optimism/repo-owners
/src/App.js              @ethereum-optimism/repo-owners
/src/App.test.js         @ethereum-optimism/repo-owners
/src/setupTests.js       @ethereum-optimism/repo-owners

# GitHub Actions workflows
/.github/workflows/ci.yml @ethereum-optimism/workflow-owners
/.github/workflows/release.yml @ethereum-optimism/workflow-owners
/.github/dependabot.yml   @ethereum-optimism/workflow-owners
